.winter{
    list-style-image: url("./../resources/winter_16.png");
}
.spring{
    list-style-image: url("./../resources/spring_16.png");
}
.summer{
    list-style-image: url("./../resources/summer_16.png");
}
.autumn{
    list-style-image: url("./../resources/autumn_16.png");
}
ul {
    margin: 0;
    padding-left: 50px;
}
p {
    margin: 5px 0;
}
.decimal{
    list-style-type: decimal;
}
.lower_alpha{
    list-style-type: lower-alpha;
}
.upper_roman{
    list-style-type: upper-roman;
}
li {
    color: rgb(88, 112, 253);
}

li::marker {
    color: black;
    font-weight: bold;

}
.Practice2_h1 {
    font-size: 19px;
}
.Practice3_h1, .Practice3_h2, .Practice3_h3  {
    font-size: 12px;
    margin: 0;
    padding: 10px 50px;
    background-color: rgb(0, 77, 77);
    color: white;

}
.Practice3_p {
    margin: 0;
    padding: 10px 15px;
    background-color: rgb(51, 107, 107);
    color: white;
}
.card {
    margin-bottom: 20px;
}
#link-1, #link-2{
    font-weight: bold;
    font-size: 12px;
    padding-right: 2px;
}
.text {
    font-size: 12px;
}